# SQLAlchemy

## 1. Introduction

<ul> 
    <li> 安裝
    <ul>
        <li> pip install sqlalchemy 或 </li>
        <li> conda install -c anaconda sqlalchemy </li>
    </ul>
    <li> 透過各種DBAPI implementation (DB driver)，支援並與底層的database互動 </li>
</ul>

In [1]:
# 檢查安裝好了嗎

import sqlalchemy
sqlalchemy.__version__

'1.2.15'

## 2. SQLAlchemy Core - Expression Language

<ul>
    <li> SQLAlchemy core 用SQL Expression Language是以schema的角度來運作 </li>
    <ul>
        <li> 使用python描述出relational database的結構 </li>
    </ul>
    <li> SQLAlchemy ORM是以domain-centric的角度來運作 </li>
</ul>

# 3. SQLAlchemy Core - connect to database

### create_engine()傳回一個Engine物件

In [2]:
from sqlalchemy import create_engine

# 針對SQLite database
engine = create_engine('sqlite:///college.db', echo=False) 
#engine = create_engine('sqlite:///college.db', echo=True) 
#engine = create_engine('sqlite:///:memory:')   # 存sqlite database在記憶體


# 針對MySQL DBMS
#engine = create_engine("mysql://user:pwd@host/dbname",echo=True)

# 針對MySQL DBMS與指定 PyMySQL driver
#engine = create_engine("mysql+pymysql://user:pwd@host/dbname",echo=True)

# 參數echo 是各DBMS都通用的參數，但create_engine()的有些參數只在特定的DBMS適用

print(type(engine))

<class 'sqlalchemy.engine.base.Engine'>

# 4. SQLAlchemy Core - Create 與Drop Table

<ul> 
    <li> Table物件對應到database table </li>
    <li> Column物件對應到database table中的column </li>
    <ul>
        <li> Column物件中常用的generic data type有 </li>
        <ul>
            <li> BigInteger </li>
            <li> Boolean </li>
            <li> Date </li>
            <li> DateTime </li>
            <li> Float </li>
            <li> Integer </li>
            <li> Numeric </li>
            <li> SmallInteger </li>
            <li> String </li>
            <li> Text </li>
            <li> Time </li>
        </ul>
    </ul>
 </ul>

In [3]:
# 將Table定義加入metadata中 (尚未在database中建立tables)

from sqlalchemy import MetaData
from sqlalchemy import Table, Column, Integer, String

meta = MetaData()

students = Table('students', meta,
                Column('id', Integer, primary_key=True),
                Column('name', String),
                Column('lastname', String))

users = Table('users', meta,
    Column('user_id', Integer, primary_key=True),
    Column('user_name', String(16), nullable=False),
    Column('email_address', String(60)),
    Column('nickname', String(50), nullable=False)
)

In [4]:
# 列印出metadata中的所有table名稱

for t in meta.sorted_tables:
    print(t.name)

students
users

In [5]:
# 建立metadata中的表格
meta.create_all(engine)

In [6]:
# 也可以指定要建立或去除的表格
#users.drop(engine)  #　除掉此表格，若此表格不存在，會發生執行錯誤
users.drop(engine, checkfirst=True)  #　，若此表格存在，才除掉此表格

addresses.drop(engine, checkfirst=True)  #　，若此表格存在，才除掉此表格
students.drop(engine, checkfirst=True)  #　，若此表格存在，才除掉此表格

In [7]:
#users.create(engine)  # 建立此表格，若此表格本來就存在，會發生執行錯誤
users.create(engine, checkfirst=True) #　若此表格不存在，才建立此表格

addresses.create(engine, checkfirst=True) #　若此表格不存在，才建立此表格
students.create(engine, checkfirst=True) #　若此表格不存在，才建立此表格

## 安裝SQLiteStudio 或 DB Browser for SQLite來檢視SQLite檔案中的內容
<ul>
    <li> <a target="_blank" rel="noopener noreferrer" href="https://sqlitestudio.pl/index.rvt"> SQLiteStudio </a> </li>
    <li><a  target="_blank" rel="noopener noreferrer" href="https://sqlitebrowser.org/"> DB Browser for SQLite </a></li>
</ul>

# 5. SQLAlchemy Core - SQL Expression

## 使用Table物件的insert()、update()、delete()、select()方法建構SQL

In [8]:
ins = students.insert().values(name='Karen')  # 建構SQL

In [9]:
str(ins)    # 所對應的SQL 陳述

'INSERT INTO students (name) VALUES (:name)'

In [10]:
ins.compile().params  # SQL 中 binding parameter的對應值呈現

{'name': 'Karen'}

# 6. SQLAlchemy Core - Executing Expression

In [11]:
conn = engine.connect()
ins = students.insert().values(name='Karen', lastname='Kapoor')  # 建構SQL
result = conn.execute(ins)  # 執行SQL，傳回ResultProxy物件

In [12]:
result.inserted_primary_key  # 插入的主鍵值

[1]

In [13]:
# 用list插入多筆紀錄
conn.execute(students.insert(), [
    {'name':'Rajiv', 'lastname' : 'Khanna'},
    {'name':'Komal','lastname' : 'Bhandari'},
    {'name':'Abdul','lastname' : 'Sattar'},
    {'name':'Priya','lastname' : 'Rajhans'},
    ])

# 7. SQLAlchemy Core - Select

In [14]:
s = students.select()
print(str(s))   # 產生的SQL

SELECT students.id, students.name, students.lastname
FROM students

In [15]:
result = conn.execute(s)   # 執行SQL

row = result.fetchone()  # 取出執行結果的一筆紀錄
print(row)
print(row['name'], row['lastname'])

(1, 'Karen', 'Kapoor')
Karen Kapoor

In [16]:
for row in result:   # 取出執行結果的每一筆紀錄
    print(row)

(2, 'Rajiv', 'Khanna')
(3, 'Komal', 'Bhandari')
(4, 'Abdul', 'Sattar')
(5, 'Priya', 'Rajhans')

In [17]:
# 加上where 的過濾條件
s = students.select().where(students.c.id >2)  
print(str(s))   # 產生的SQL

result = conn.execute(s)   # 執行SQL
for row in result:   # 取出執行結果的每一筆紀錄
    print(row)

SELECT students.id, students.name, students.lastname
FROM students
WHERE students.id > :id_1
(3, 'Komal', 'Bhandari')
(4, 'Abdul', 'Sattar')
(5, 'Priya', 'Rajhans')

In [18]:
# 前面的做法：使用Table物件.select()  
# 另一種做法: 使用sqlalchemy.sql.select()
from sqlalchemy.sql import select
s = select([students])   # 另一種做法
result = conn.execute(s)   # 執行SQL
for row in result:   # 取出執行結果的每一筆紀錄
    print(row)

(1, 'Karen', 'Kapoor')
(2, 'Rajiv', 'Khanna')
(3, 'Komal', 'Bhandari')
(4, 'Abdul', 'Sattar')
(5, 'Priya', 'Rajhans')

# 8. SQLAlchemy Core - 直接使用SQL

In [19]:
from sqlalchemy import text
t = text("SELECT * FROM students")
print(str(s))
result = conn.execute(s)   # 執行SQL
for row in result:   # 取出執行結果的每一筆紀錄
    print(row)

SELECT students.id, students.name, students.lastname
FROM students
(1, 'Karen', 'Kapoor')
(2, 'Rajiv', 'Khanna')
(3, 'Komal', 'Bhandari')
(4, 'Abdul', 'Sattar')
(5, 'Priya', 'Rajhans')

In [20]:
# SQL內也可以使用bound parameters
from sqlalchemy import text
t = text("SELECT students.name, students.lastname FROM students where students.name between :x and :y")
print(str(t))

# 執行SQL時，提供bound parameters值
result = conn.execute(t, x= 'A', y='L').fetchall()   # 執行SQL，並ftechall取回所有紀錄
print(type(result))   # ftechall傳回的是一個list
for row in result:   # 列印每一筆紀錄
    print(row['name'], row['lastname'])

SELECT students.name, students.lastname FROM students where students.name between :x and :y
<class 'list'>
Karen Kapoor
Komal Bhandari
Abdul Sattar

In [21]:
# 明確地指定bind param的型態
from sqlalchemy import bindparam
stmt = text("SELECT * FROM students WHERE students.name BETWEEN :x AND :y")
stmt = stmt.bindparams(bindparam("x", type_=String), bindparam("y", type_=String)) # 明確地指定bind param的型態

#result = conn.execute(stmt, x= 'A', y='L').fetchall()  # 傳回的是一個list
result = conn.execute(stmt, {"x": "A", "y":"L"})        # 傳回的是一個ResultProxy物件

for row in result:   # 列印每一筆紀錄
    print(row['name'], row['lastname'])

Karen Kapoor
Komal Bhandari
Abdul Sattar

In [22]:
# 利用select()產生SQL的主架構，再利用text()產生架構中各部分的內容
s = select([text("students.name, students.lastname from students")]
          ).where(text("students.name between :x AND :y"))

print(str(s))

result = conn.execute(stmt, {"x": "A", "y":"L"}).fetchall()  
for row in result:   # 列印每一筆紀錄
    print(row)

SELECT students.name, students.lastname from students
WHERE students.name between :x AND :y
(1, 'Karen', 'Kapoor')
(3, 'Komal', 'Bhandari')
(4, 'Abdul', 'Sattar')

In [23]:
# 使用_and()建構更複雜的where條件
from sqlalchemy import and_
from sqlalchemy.sql import select

s = select([text("* from students")]
          ).where(
            and_(
                text("students.name BETWEEN :x AND :y"),
                text("students.id > 2")
            )
)

print(str(s))

result = conn.execute(s, {"x": "A", "y":"L"}).fetchall()  
for row in result:   # 列印每一筆紀錄
    print(row)

SELECT * from students
WHERE students.name BETWEEN :x AND :y AND students.id > 2
(3, 'Komal', 'Bhandari')
(4, 'Abdul', 'Sattar')

In [24]:
# 使用_or()建構更複雜的where條件
from sqlalchemy import or_
from sqlalchemy.sql import select

s = select([text("* from students")]
          ).where(
            or_(
                text("students.name BETWEEN :x AND :y"),
                text("students.id > 2")
            )
)

print(str(s))

result = conn.execute(s, {"x": "A", "y":"L"}).fetchall()  
for row in result:   # 列印每一筆紀錄
    print(row)

SELECT * from students
WHERE students.name BETWEEN :x AND :y OR students.id > 2
(1, 'Karen', 'Kapoor')
(3, 'Komal', 'Bhandari')
(4, 'Abdul', 'Sattar')
(5, 'Priya', 'Rajhans')

In [25]:
# 使用_or()與_and()建構更複雜的where條件
from sqlalchemy import or_
from sqlalchemy import and_
from sqlalchemy.sql import select

s = select([text("* from students")]
          ).where(
            or_(
                text("students.name BETWEEN :x AND :y"),
                and_(
                    text("students.id > 2"),
                    text("students.id < 4")
                )
            )
)

print(str(s))

result = conn.execute(s, {"x": "A", "y":"L"}).fetchall()  
for row in result:   # 列印每一筆紀錄
    print(row)

SELECT * from students
WHERE students.name BETWEEN :x AND :y OR students.id > 2 AND students.id < 4
(1, 'Karen', 'Kapoor')
(3, 'Komal', 'Bhandari')
(4, 'Abdul', 'Sattar')

# 9. SQLAlchemy Core - 使用SQL的表格或子查詢的alias

In [26]:
from sqlalchemy.sql import alias
st = students.alias("a")  # 對Table students 取一個Alias物件st
print(type(st))

s = select([st]).where(st.c.id>2)  # 對Alias物件下select
print(str(s))

result = conn.execute(s).fetchall()  
for row in result:   # 列印每一筆紀錄
    print(row)

<class 'sqlalchemy.sql.selectable.Alias'>
SELECT a.id, a.name, a.lastname
FROM students AS a
WHERE a.id > :id_1
(3, 'Komal', 'Bhandari')
(4, 'Abdul', 'Sattar')
(5, 'Priya', 'Rajhans')

# 10. SQLAlchemy Core - Update

In [27]:
stmt = students.update().where(students.c.lastname=='Khanna').values(lastname='Kapoor')
print(str(stmt))
print(stmt.compile().params)  # SQL 中 binding parameter的對應值呈現

conn.execute(stmt) # 執行SQL

s = students.select()  
results = conn.execute(s).fetchall()
print(results)

UPDATE students SET lastname=:lastname WHERE students.lastname = :lastname_1
{'lastname': 'Kapoor', 'lastname_1': 'Khanna'}
[(1, 'Karen', 'Kapoor'), (2, 'Rajiv', 'Kapoor'), (3, 'Komal', 'Bhandari'), (4, 'Abdul', 'Sattar'), (5, 'Priya', 'Rajhans')]

In [28]:
# 前面的做法：使用Table物件.update()  
# 另一種做法: 使用sqlalchemy.sql.expression.update()

from sqlalchemy.sql.expression import update
stmt = update(students).where(students.c.lastname=='Khanna').values(lastname='Kapoor')
print(str(stmt))
print(stmt.compile().params)  # SQL 中 binding parameter的對應值呈現

UPDATE students SET lastname=:lastname WHERE students.lastname = :lastname_1
{'lastname': 'Kapoor', 'lastname_1': 'Khanna'}

# 11. SQLAlchemy Core - Delete

In [29]:
stmt = students.delete()  # 會刪除表格中所有records的SQL
print(str(stmt))

#conn.execute(stmt) # 執行SQL

DELETE FROM students

In [30]:
stmt = students.delete().where(
    or_(
        students.c.id>2,
        students.c.lastname=='Khanna'
       )
    )  # 加上where條件
print(str(stmt))
print(stmt.compile().params)  # SQL 中 binding parameter的對應值呈現

#conn.execute(stmt) # 執行SQL

DELETE FROM students WHERE students.id > :id_1 OR students.lastname = :lastname_1
{'id_1': 2, 'lastname_1': 'Khanna'}

# 12. SQLAlchemy Core - 多個Tables的SQL Select

In [31]:
# 建立範例database與tables
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, ForeignKey

engine = create_engine('sqlite:///college.db', echo=False) 
meta = MetaData()

students = Table('students', meta,
                Column('id', Integer, primary_key=True),
                Column('name', String),
                Column('lastname', String))

addresses = Table('addresses', meta,
    Column('id', Integer, primary_key=True),
    Column('st_id', Integer, ForeignKey('students.id')),   # 有加上FK限制條件
    Column('postal_add', String),
    Column('email_add', String)
)

meta.create_all(engine)

In [32]:
# insert records
conn = engine.connect()
conn.execute(students.insert(), [
    {'name': 'Ravi', 'lastname':'Kapoor'},
    {'name':'Rajiv', 'lastname':'Khanna'},
    {'name':'Komal', 'lastname':'Bhandri'},
    {'name':'Abdul', 'lastname':'Sattar'},
    {'name':'Priya', 'lastname':'Rajhans'}
])

In [33]:
# insert records
conn.execute(addresses.insert(), [
    {'st_id': 1, 'postal_add':'Kapoor post addr', 'email_add':'Kapoor@gmail.com'},
    {'st_id': 1, 'postal_add':'Khanna post addr', 'email_add':'Khanna@gmail.com'},
    {'st_id': 3, 'postal_add':'Bhandri post addr', 'email_add':'Bhandri@yahoo.com'},
    {'st_id': 5, 'postal_add':'Sattar post addr', 'email_add':'Sattar@gmail.com'},
    {'st_id': 2, 'postal_add':'Rajhans post addr', 'email_add':'Rajhans@gmail.com'}
])

In [34]:
s = select([students, addresses]).where(students.c.id == addresses.c.st_id)  # SQL JOIN
print(str(s))
result = conn.execute(s)
for row in result:
    print(row)

SELECT students.id, students.name, students.lastname, addresses.id, addresses.st_id, addresses.postal_add, addresses.email_add
FROM students, addresses
WHERE students.id = addresses.st_id
(1, 'Karen', 'Kapoor', 1, 1, 'Kapoor post addr', 'Kapoor@gmail.com')
(1, 'Karen', 'Kapoor', 2, 1, 'Khanna post addr', 'Khanna@gmail.com')
(3, 'Komal', 'Bhandari', 3, 3, 'Bhandri post addr', 'Bhandri@yahoo.com')
(5, 'Priya', 'Rajhans', 4, 5, 'Sattar post addr', 'Sattar@gmail.com')
(2, 'Rajiv', 'Kapoor', 5, 2, 'Rajhans post addr', 'Rajhans@gmail.com')

# 13. SQLAlchemy Core - 多個Tables的SQL Update
<ul>
    <li> PostgreSQL與MS SQL Server：支援多Table的SQL Update (使用UPDATE FROM...語法)，一次只會update一個table，但是可在WHERE子句裏的FROM子句去參考到多個tables. </li>
    <li>MySQL：多tables用逗點分開</li>
    <li>SQLite：不支援</li>
    <li>所以，連到不同的DBMS，所生成的SQL會有所不同。</li>
</ul>

In [35]:
# PostgreSQL與MS SQL Server支援
stmt = students.update().\
values({
    students.c.name:'xyz',
    addresses.c.email_add:'abc@xyz.com'   # 參考到多個tables
}).\
where(students.c.id == addresses.c.id)  # 參考到多個tables

print(str(stmt))
print(stmt.compile().params)  # SQL 中 binding parameter的對應值呈現

# result = conn.execute(stmt)  # SQLite不支援

UPDATE students SET email_add=:addresses_email_add, name=:name FROM addresses WHERE students.id = addresses.id
{'addresses_email_add': 'abc@xyz.com', 'name': 'xyz'}

In [36]:
# MySQL支援
stmt = students.update().\
values(name='xyz').\
where(students.c.id == addresses.c.id) # 參考到多個tables

print(str(stmt))
print(stmt.compile().params)  # SQL 中 binding parameter的對應值呈現

# result = conn.execute(stmt)  # SQLite不支援

UPDATE students SET name=:name FROM addresses WHERE students.id = addresses.id
{'name': 'xyz'}

# 14. SQLAlchemy Core - SQL Update之參數順序
在MySQL中的SQL Update，若用一欄位值去設定另一欄位，則欄位值的設定順序會有影響。

UPDATE table1 SET x = y+10, y = 20
和
UPDATE table1 SET y = 20, x = y+10

會有不同的效果，因此會需要確定各欄位在SQL中被update的順序。

<ul>
    <li>在SQLAlchemy中，用 .update().values({欄位名:欄位值, , ,...}) 會根據＂Table定義的欄位順序＂進行update </li>
    <li>在SQLAlchemy中，用 .update(preserve_parameter_order=True).values([(欄位名,欄位值),(,),(,),...]) 會根據[... ] 中的欄位順序＂進行update</li>
</ul>

In [37]:
# values()中的參數是dict，會根據＂Table定義的欄位順序＂進行update
stmt = students.update().values({students.c.lastname: students.c.name,
                                 students.c.name: 'aaa'})
print(str(stmt))

UPDATE students SET name=:name, lastname=students.name

In [38]:
# 使用update(preserve_parameter_order=True)
# values()中的參數是list，會根據list中的tuple順序進行update
stmt = students.update(preserve_parameter_order=True).values([(students.c.lastname, students.c.name),
                                                              (students.c.name, 'aaa')])
print(str(stmt))

UPDATE students SET lastname=students.name, name=:name

# 15. SQLAlchemy Core - 多個Tables的SQL Delete

和多個Tables的Update類似，可以在WHERE子句裏去參考到多個tables，但一次只換刪除一個table的內容。

<ul>
    <li> PostgreSQL與MySQL：使用"DELETE FROM 進行刪除的表名 USING 其他參考到的表名... WHERE ..."語法</li>
    <li>MS SQL Server：使用DELETE FROM...語法 </li>
<li>所以，連到不同的DBMS，所生成的SQL會有所不同。</li>
</ul>

In [39]:
s = users.delete().\
where(users.c.user_id == addresses.c.id).\
where(users.c.email_address.startswith('xyz%'))
print(str(s))

DELETE FROM users , addresses WHERE users.user_id = addresses.id AND (users.email_address LIKE :email_address_1 || '%')

# 16. SQLAlchemy Core - JOIN
表格物件.join(right, onclause=None, isouter=False, full=False)傳回一個join物件
<ul>
    <li><em>right</em>:join運算中，在右邊的表格名稱</li>
    <li><em>onclause</em>:join運算中，合併運算的合併條件。若未指明，會根據兩表格的FK做join</li>
    <li><em>isouter</em>:若True，則做LEFT OUTER JOIN。若未指明，則做INNER JOIN。 </li>
    <li><em>full</em>:若True，則做FULL OUTER JOIN。若未指明，則做INNER JOIN或LEFT OUTER JOIN。</li>
</ul>

In [40]:
s = students.join(addresses)  # 兩表格inner join
print(s)

students JOIN addresses ON students.id = addresses.st_id

In [41]:
s = students.join(addresses, isouter=True) # 兩表格inner Left Outer join
print(s)

students LEFT OUTER JOIN addresses ON students.id = addresses.st_id

In [42]:
s = students.join(addresses, isouter=True, full=True) # 兩表格full Outer join
print(s)

students FULL OUTER JOIN addresses ON students.id = addresses.st_id

In [43]:
s = students.join(addresses, students.c.id > addresses.c.st_id) # 指明join的合併條件
print(s)

students JOIN addresses ON students.id > addresses.st_id

In [44]:
s = students.join(addresses, students.c.id == addresses.c.st_id) # 指明join的合併條件
print(s)

students JOIN addresses ON students.id = addresses.st_id

In [45]:
stmt = select([students]).select_from(s)  # 用select_from(join物件)來將前面建立的s作為join條件建立SQL
print(stmt)

SELECT students.id, students.name, students.lastname
FROM students JOIN addresses ON students.id = addresses.st_id

In [46]:
print(conn.execute(select([students])).fetchall())
print(conn.execute(select([addresses])).fetchall())
result = conn.execute(stmt)
r = result.fetchall()
print(r)

[(1, 'Karen', 'Kapoor'), (2, 'Rajiv', 'Kapoor'), (3, 'Komal', 'Bhandari'), (4, 'Abdul', 'Sattar'), (5, 'Priya', 'Rajhans'), (6, 'Ravi', 'Kapoor'), (7, 'Rajiv', 'Khanna'), (8, 'Komal', 'Bhandri'), (9, 'Abdul', 'Sattar'), (10, 'Priya', 'Rajhans')]
[(1, 1, 'Kapoor post addr', 'Kapoor@gmail.com'), (2, 1, 'Khanna post addr', 'Khanna@gmail.com'), (3, 3, 'Bhandri post addr', 'Bhandri@yahoo.com'), (4, 5, 'Sattar post addr', 'Sattar@gmail.com'), (5, 2, 'Rajhans post addr', 'Rajhans@gmail.com')]
[(1, 'Karen', 'Kapoor'), (1, 'Karen', 'Kapoor'), (3, 'Komal', 'Bhandari'), (5, 'Priya', 'Rajhans'), (2, 'Rajiv', 'Kapoor')]

# 17. SQLAlchemy Core - 建立複雜的where條件
<ul>
    <li><em>and_()</em></li>
    <li><em>or_()</em></li>
    <li><em>not_()</em></li>
    <li><em>asc()</em>: order_by(asc(欄位名))或order_by(欄位名.asc(), ...)</li>
    <li><em>desc()</em>: order_by(desc(欄位名))或order_by(欄位名.desc(), ...)</li>
    <li>多欄位排序: order_by(欄位名.desc(), 欄位名.desc(), 欄位名.asc(), ...)</li>
    <li><em>between()</em>: bwteen(欄位名,v1,v2)</li>
</ul>

In [47]:
# and_()
from sqlalchemy import and_

print(and_(
    students.c.name=='Ravi',
    students.c.id > 3
    )
)

students.name = :name_1 AND students.id > :id_1

In [48]:
stmt = select([students]).where(
    and_(
        students.c.name=='Ravi',
        students.c.id > 3
    )
)
print(stmt)

result = conn.execute(stmt).fetchall()
print(result)

SELECT students.id, students.name, students.lastname
FROM students
WHERE students.name = :name_1 AND students.id > :id_1
[(6, 'Ravi', 'Kapoor')]

In [49]:
# or_()
from sqlalchemy import or_
stmt = select([students]).where(
    or_(
        students.c.name=='Ravi',
        students.c.id > 3
    )
)
print(stmt)

result = conn.execute(stmt).fetchall()
print(result)

SELECT students.id, students.name, students.lastname
FROM students
WHERE students.name = :name_1 OR students.id > :id_1
[(4, 'Abdul', 'Sattar'), (5, 'Priya', 'Rajhans'), (6, 'Ravi', 'Kapoor'), (7, 'Rajiv', 'Khanna'), (8, 'Komal', 'Bhandri'), (9, 'Abdul', 'Sattar'), (10, 'Priya', 'Rajhans')]

In [50]:
# asc()
from sqlalchemy import asc
# order_by()(asc(欄位名))
s = select([students]).order_by(asc(students.c.name))
r = conn.execute(s).fetchall()
print(r)

[(4, 'Abdul', 'Sattar'), (9, 'Abdul', 'Sattar'), (1, 'Karen', 'Kapoor'), (3, 'Komal', 'Bhandari'), (8, 'Komal', 'Bhandri'), (5, 'Priya', 'Rajhans'), (10, 'Priya', 'Rajhans'), (2, 'Rajiv', 'Kapoor'), (7, 'Rajiv', 'Khanna'), (6, 'Ravi', 'Kapoor')]

In [51]:
# desc()
from sqlalchemy import desc
# order_by()(desc(欄位名))
s = select([students]).order_by(desc(students.c.name))
r = conn.execute(s).fetchall()
print(r)

[(6, 'Ravi', 'Kapoor'), (2, 'Rajiv', 'Kapoor'), (7, 'Rajiv', 'Khanna'), (5, 'Priya', 'Rajhans'), (10, 'Priya', 'Rajhans'), (3, 'Komal', 'Bhandari'), (8, 'Komal', 'Bhandri'), (1, 'Karen', 'Kapoor'), (4, 'Abdul', 'Sattar'), (9, 'Abdul', 'Sattar')]

In [52]:
# 根據多個欄位排序
from sqlalchemy import asc, desc
# order_by()(desc(欄位名))
s = select([students]).order_by(students.c.name.desc(), students.c.lastname.asc())
r = conn.execute(s).fetchall()
print(r)

[(6, 'Ravi', 'Kapoor'), (2, 'Rajiv', 'Kapoor'), (7, 'Rajiv', 'Khanna'), (5, 'Priya', 'Rajhans'), (10, 'Priya', 'Rajhans'), (3, 'Komal', 'Bhandari'), (8, 'Komal', 'Bhandri'), (1, 'Karen', 'Kapoor'), (4, 'Abdul', 'Sattar'), (9, 'Abdul', 'Sattar')]

In [53]:
# order_by
s = select([students.c.name]).order_by(students.c.name, students.c.lastname)
print(s)

s = select([students.c.name]).order_by(students.c.name.asc(), students.c.lastname.desc())
print(s)

SELECT students.name
FROM students ORDER BY students.name, students.lastname
SELECT students.name
FROM students ORDER BY students.name ASC, students.lastname DESC

In [54]:
# between()
from sqlalchemy import between

s = select([students]).where(between(students.c.id, 2, 4))
print(s)
r = conn.execute(s).fetchall()
print(r)

SELECT students.id, students.name, students.lastname
FROM students
WHERE students.id BETWEEN :id_1 AND :id_2
[(2, 'Rajiv', 'Kapoor'), (3, 'Komal', 'Bhandari'), (4, 'Abdul', 'Sattar')]

# 18. SQLAlchemy Core - 使用SQL中的function
個別DBMS有定義一些function可以在SQL中使用，例如now(), count(), max(), min(), avg()函數。

在SQLAlchemy使用func來引用這些函數

用label()對衍生欄位命名

In [55]:
# func.now()
from sqlalchemy.sql import func
s = select([func.now()])
result = conn.execute(s).fetchone()
print(result)

(datetime.datetime(2019, 4, 2, 9, 54, 29),)

In [56]:
# func.count()
from sqlalchemy.sql import func
s = select([func.count(students.c.id)])
result = conn.execute(s).fetchone()
print(result)

(10,)

In [57]:
# func.max()
from sqlalchemy.sql import func
s = select([func.max(students.c.id)])
result = conn.execute(s).fetchone()
print(result)

(10,)

In [58]:
# func.min()
from sqlalchemy.sql import func
s = select([func.min(students.c.id)])
result = conn.execute(s).fetchone()
print(result)

(1,)

In [59]:
# func.avg()
from sqlalchemy.sql import func
s = select([func.avg(students.c.id)])
result = conn.execute(s).fetchone()
print(result)

(5.5,)

In [60]:
# 使用label()對欄位取名字，尤其是那些非表格欄位的欄位
from sqlalchemy.sql import func
s = select([func.avg(students.c.id).label('AvgID')])
result = conn.execute(s).fetchone()
print(result['AvgID'])

5.5

# 19. SQLAlchemy Core - 集合運算


<ul>
    <li> union(): 將多個select的執行結果做聯集運算(去除重覆，會排序)，傳回CompoundSelect物件 </li> 
    <li> union_all(): 將多個select的執行結果做聯集運算(不去除重覆，不會排序) </li> 
    <li> except_(): 差集運算</li> 
    <li> intersect(): 交集運算</li> 
</ul>

In [61]:
from sqlalchemy import union

s1 = addresses.select().where(addresses.c.email_add.like('%@gmail.com'))
s2 = addresses.select().where(addresses.c.email_add.like('%@yahoo.com'))
u = union(s1, s2)

print(u)

conn.execute(u).fetchall()

SELECT addresses.id, addresses.st_id, addresses.postal_add, addresses.email_add
FROM addresses
WHERE addresses.email_add LIKE :email_add_1 UNION SELECT addresses.id, addresses.st_id, addresses.postal_add, addresses.email_add
FROM addresses
WHERE addresses.email_add LIKE :email_add_2

[(1, 1, 'Kapoor post addr', 'Kapoor@gmail.com'),
 (2, 1, 'Khanna post addr', 'Khanna@gmail.com'),
 (3, 3, 'Bhandri post addr', 'Bhandri@yahoo.com'),
 (4, 5, 'Sattar post addr', 'Sattar@gmail.com'),
 (5, 2, 'Rajhans post addr', 'Rajhans@gmail.com')]

In [62]:
from sqlalchemy import union_all

s1 = addresses.select().where(addresses.c.email_add.like('%@gmail.com'))
s2 = addresses.select().where(addresses.c.email_add.like('%@yahoo.com'))
u = union_all(s1, s2)

print(u)

conn.execute(u).fetchall()

SELECT addresses.id, addresses.st_id, addresses.postal_add, addresses.email_add
FROM addresses
WHERE addresses.email_add LIKE :email_add_1 UNION ALL SELECT addresses.id, addresses.st_id, addresses.postal_add, addresses.email_add
FROM addresses
WHERE addresses.email_add LIKE :email_add_2

[(1, 1, 'Kapoor post addr', 'Kapoor@gmail.com'),
 (2, 1, 'Khanna post addr', 'Khanna@gmail.com'),
 (4, 5, 'Sattar post addr', 'Sattar@gmail.com'),
 (5, 2, 'Rajhans post addr', 'Rajhans@gmail.com'),
 (3, 3, 'Bhandri post addr', 'Bhandri@yahoo.com')]

In [63]:
from sqlalchemy import except_

s1 = addresses.select().where(addresses.c.email_add.like('%@gmail.com'))
s2 = addresses.select().where(addresses.c.postal_add.like('%r post addr'))
u = except_(s1, s2)

print(u)
conn.execute(u).fetchall()

SELECT addresses.id, addresses.st_id, addresses.postal_add, addresses.email_add
FROM addresses
WHERE addresses.email_add LIKE :email_add_1 EXCEPT SELECT addresses.id, addresses.st_id, addresses.postal_add, addresses.email_add
FROM addresses
WHERE addresses.postal_add LIKE :postal_add_1

[(2, 1, 'Khanna post addr', 'Khanna@gmail.com'),
 (5, 2, 'Rajhans post addr', 'Rajhans@gmail.com')]

In [64]:
from sqlalchemy import intersect

s1 = addresses.select().where(addresses.c.email_add.like('%@gmail.com'))
s2 = addresses.select().where(addresses.c.email_add.like('%@yahoo.com'))
s3 = addresses.select().where(addresses.c.email_add.like('%@kimo.com'))
u = intersect(s1, s2, s3)

print(u)

SELECT addresses.id, addresses.st_id, addresses.postal_add, addresses.email_add
FROM addresses
WHERE addresses.email_add LIKE :email_add_1 INTERSECT SELECT addresses.id, addresses.st_id, addresses.postal_add, addresses.email_add
FROM addresses
WHERE addresses.email_add LIKE :email_add_2 INTERSECT SELECT addresses.id, addresses.st_id, addresses.postal_add, addresses.email_add
FROM addresses
WHERE addresses.email_add LIKE :email_add_3

In [65]:
from sqlalchemy import intersect

s1 = addresses.select().where(addresses.c.email_add.like('%@gmail.com'))
s2 = addresses.select().where(addresses.c.postal_add.like('%r post addr'))
u = intersect(s1, s2)

print(u)
conn.execute(u).fetchall()

SELECT addresses.id, addresses.st_id, addresses.postal_add, addresses.email_add
FROM addresses
WHERE addresses.email_add LIKE :email_add_1 INTERSECT SELECT addresses.id, addresses.st_id, addresses.postal_add, addresses.email_add
FROM addresses
WHERE addresses.postal_add LIKE :postal_add_1

[(1, 1, 'Kapoor post addr', 'Kapoor@gmail.com'),
 (4, 5, 'Sattar post addr', 'Sattar@gmail.com')]

# .group_by(欄位) ... .having(條件)

In [66]:
# group by
s = select([addresses.c.st_id, func.count(addresses.c.st_id)]).group_by(addresses.c.st_id)
print(s)

s = select([addresses.c.st_id, func.count(addresses.c.st_id).label('CNT')]).group_by(addresses.c.st_id)
print(s)

SELECT addresses.st_id, count(addresses.st_id) AS count_1
FROM addresses GROUP BY addresses.st_id
SELECT addresses.st_id, count(addresses.st_id) AS "CNT"
FROM addresses GROUP BY addresses.st_id

In [67]:
# group by
t = students.join(addresses)
s = select([students.c.name, students.c.id, func.count(addresses.c.st_id).label('CNT')]).\
    select_from(t).group_by(students.c.name)
print(s)
conn.execute(s).fetchall()

SELECT students.name, students.id, count(addresses.st_id) AS "CNT"
FROM students JOIN addresses ON students.id = addresses.st_id GROUP BY students.name

[('Karen', 1, 2), ('Komal', 3, 1), ('Priya', 5, 1), ('Rajiv', 2, 1)]

In [68]:
# having()
t = students.join(addresses)
s = select([students.c.name, students.c.id, func.count(addresses.c.st_id).label('CNT')]).\
    select_from(t).group_by(students.c.name).having(func.length(students.c.name) > 4)
print(s)
conn.execute(s).fetchall()

SELECT students.name, students.id, count(addresses.st_id) AS "CNT"
FROM students JOIN addresses ON students.id = addresses.st_id GROUP BY students.name
HAVING length(students.name) > :length_1

[('Karen', 1, 2), ('Komal', 3, 1), ('Priya', 5, 1), ('Rajiv', 2, 1)]

In [69]:
# having()
t = students.join(addresses)
s = select([students.c.name, students.c.id, func.count(addresses.c.st_id).label('CNT')]).\
    select_from(t).group_by(students.c.name).having(func.count(addresses.c.st_id) > 4)
print(s)
conn.execute(s).fetchall()

SELECT students.name, students.id, count(addresses.st_id) AS "CNT"
FROM students JOIN addresses ON students.id = addresses.st_id GROUP BY students.name
HAVING count(addresses.st_id) > :count_1

[]

<a HREF="https://docs.sqlalchemy.org/en/latest/core/tutorial.html" target="_blank" rel="noopener noreferrer" > SQL Expression Language Tutorial 完整介紹 </a>